.book-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .image-container img {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .details-container {
    flex: 1;
    padding-left: 20px;
  }
  
  .details-loading{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; 
  }
  